// Primary Colors
$cyan: hsl(180, 78%, 60%);
$dark-violet: hsl(257, 42%, 21%);

// Secondary Colors
$red: hsl(0, 87%, 67%);

// Neutral Colors
$gray: hsl(230, 2%, 89%);
$grayish-violet: hsl(240, 6%, 61%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// z-index
$header-index: 10;

// mobile padding
$m-padd: 0 20px;

// breakpoints
$small: 375px;
$tablet: 768px;
$desktop: 1200px;
