@import "../../sass/variables";

.LinkShorter {
  padding: $m-padd;
  background-color: $gray;
  padding-bottom: 100px;
  width: 100%;
}

.shorterContainer {
  background-color: $dark-violet;
  padding: 20px 0;
  border-radius: 10px;
  position: relative;
  top: -80px;
  background-image: url("../../assets/icons/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  max-width: 1440px;

  form {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 36px;

    input {
      left: 10%;
      position: relative;
      width: 80%;
      font-size: 1rem;
      padding: 10px;
      border-radius: 5px;
      border: none;
    }

    button {
      left: 10%;
      position: relative;
      width: 80%;
      border-radius: 5px;
      border: none;
      padding: 14px 0;
      background-color: $cyan;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }

    p {
      position: absolute;
      left: 10%;
      top: 40px;
      text-align: left;
      color: $red;

      i {
        font-size: 12px;
      }
    }
  }
}

.error {
  border: 2px solid $red !important;
  color: $red;
}

.linksContainer {
  margin-top: -36px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: $tablet) {
  .LinkShorter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .shorterContainer {
    padding: 40px 0;
    width: 100%;

    form {
      flex-direction: row;
      justify-content: normal;
      align-items: center;

      input {
        width: 50%;
      }

      button {
        width: 20%;
      }

      p {
        top: 42px;
      }
    }
  }
}
