@import "../../sass/variables";

.Header {
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 40px 20px 20px;
  padding: $m-padd;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: white;
  z-index: $header-index;
  // overflow-x: hidden;

  ul li {
    list-style: none;

    a {
      // color: white;
      text-decoration: none;
    }
  }
}

.desktopNavbar {
  display: none;
}

.navbar {
  // display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 100%;
  padding: $m-padd;
  transition: 0.5s ease-in-out;
}

.hamMenu {
  font-size: 24px;
  color: $gray;
}

.mobileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   gap: 30px;
  text-align: center;
  background-color: $dark-violet;
  color: white;
  padding: 20px;
  border-radius: 10px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 30px;
    li {
      padding: 20px 0;
    }
  }

  a {
    color: white;
  }
}

.navLinks {
  border-bottom: 1px solid $gray;
}

.active {
  display: flex;
  // transform: translate(50%, 0%);
  // right: 50%;
}

.desktopContainer {
  display: none;
}

@media (min-width: $tablet) {
  .Header {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop) {
  .hamMenu,
  .mobileContainer {
    display: none;
  }

  .navbar {
    display: flex;
    position: relative;
    top: 0;
    right: 44%;
    padding: 0;
  }

  .desktopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        font-size: 16px;
      }
    }
  }

  .desktopNav {
    list-style: none;
    display: flex;

    li {
      color: $grayish-violet;
    }
  }

  .deskLogin {
    color: $grayish-violet;
  }

  .deskSignUp {
    background-color: $cyan;
    padding: 10px 12px;
    color: white;
    border-radius: 40px;

    li {
      color: $grayish-violet;
    }
  }
}
