@import "../../sass/variables";

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-violet;
  color: white;
  padding: $m-padd;
  //   padding: 40px 0;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  width: 100%;

  h3 {
    font-size: 30px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h4,
  li {
    font-size: 0.875rem;
    font-weight: 500;
  }

  h4 {
    font-weight: 700;
  }

  li {
    color: $grayish-violet;
  }
}

.iconContainers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  svg {
    font-size: 26px;
  }
}

@media (min-width: $tablet) {
  .Footer {
    flex-direction: row;
    flex-wrap: wrap;

    h3,
    .listContainer {
      width: 20%;
      height: 100%;
      min-height: 120px;
    }
  }

  .listContainer {
    justify-content: flex-start;
  }

  .iconContainers {
    margin-top: -20px;
  }
}

@media (min-width: $desktop) {

  .Footer {
    align-items: flex-start;
    padding: 60px 20px;

    flex-wrap: nowrap;

    h3,
    .listContainer {
      width: 20%;
    }
  }

  .iconContainers {
    width: 20%;
    height: 100%;
    margin-top: 0 ;

  }

}
