@import "../../sass/variables";

.Details {
  padding: 0 20px;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $very-dark-violet;
  }

  p {
    font-size: 1rem;
    text-align: center;
    color: $grayish-violet;
    line-height: 1.5;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

.bar {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: $cyan;
  top: 0;
  left: 49.5%;
}

@media (min-width: $tablet) {
  .titleContainer {
    // width: 100%;
    // padding: 0 40px;
    max-width: 500px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .features {
    flex-direction: row;
    max-width: 1440px;
  }

  .bar {
    width: 100%;
    height: 10px;
    top: 49.5%;
    left: 0;
  }
}
